@charset "utf-8";

/* grid layout */
.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 2.2em repeat(4, calc((100vh - 4.2em) / 4)) 2em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "hcn dtl flp flp"
        "chr chr chr chr"
        "chr chr chr chr"
        "mar mar rdt rdt"
        "tfl tfl tfl tfl"
        "ftr ftr ftr ftr";

        @media only screen and (min-width: 992px) {
            grid-template-areas:
                "hcn flp flp dtl"
                "mar chr chr chr"
                "mar chr chr chr"
                "mar rdt rdt rdt"
                "mar tfl tfl tfl"
                "ftr ftr ftr ftr";
        }

        @media only screen and (min-width: 1200px) {
            grid-template-rows: 2.2em repeat(3, calc((100vh - 4.2em) / 3)) 2em;
            grid-template-columns: 3fr 7fr 2fr;
            grid-template-areas:
                "hcn flp dtl"
                "mar chr rdt"
                "mar chr rdt"
                "mar tfl rdt"
                "ftr ftr ftr";
        }    
}

.raw-data {
    max-height: calc((100vh - 4.2em) / 4);

    @media only screen and (min-width: 1200px) {
        max-height: 100%;
    } 
}

.serial-comm {
    grid-area: hcn;
}

.file-path {
    grid-area: flp;
}

.data-load {
    grid-area: dtl;
}

.method-params {
    grid-area: mar;
}

.chart-window {
    grid-area: chr;
}

.raw-data {
    grid-area: rdt;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-gap: $padding-secondary;
    
    @media screen and (min-width: 992px) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100%;
    }

    @media screen and (min-width: 1200px) {
        grid-template-rows: auto 1fr;
        grid-template-columns: 100%;
    }
}

.temporary-files {
    grid-area: tfl;
}


.footer {
    grid-area: ftr;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.copy {
    grid-column: 2/4;
    justify-self: end;
}
