@charset "utf-8";


.main {
    font-size: 2em;
    background-color: $grey-secondary ;
    border: $border-width-tertiary dolid $grey-secondary;

    @media only screen and (min-width: 1200px) {
        font-size: 2.2em;
    }
    
    &__cell {
        background-color: $white-tertiary;
        border: $border-width-tertiary solid $grey-secondary;
        border-radius: $border-radius-secondary;
        padding: $padding-secondary;
    }
    
}

.serial-comm {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-column-gap: $border-width-secondary;
}

.method-params {
    &__form{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    &__input {
        margin-bottom: $margin-tertiary;
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-column-gap: $border-width-secondary;
    }
    
    &__btn {
        margin-top: auto;
        
        .btn {
            width: 100%;
        }
    }
}

.data-load {
    display: grid;
}

.temporary-files {
    
    &__table {
        height: 100%;
        font-size: 0.7em;
        display: grid;
        grid-template-rows: 40px auto;
        grid-template-columns: 1fr;
        
        .table__head {
            background-color: $white-primary;
            font-weight: 600;
            
            .table__row {
                height: 40px;
            }
        }
        
        .table__body {
            background-color: $white-primary;
            overflow-y: auto;

            .table__row:hover {
                background-color: rgba($green-primary, 0.1);
                cursor: pointer;
                font-size: 1.1em;
            }
        }

        .table__row {
            border-bottom: $border-width-tertiary solid $grey-secondary;
            display: grid;
            grid-template-columns: 1fr 2fr 3fr;
            padding: $padding-secondary 0;
            
            & > div {
                text-align: center;
            }
        }
    }   
}

.raw-data {
    font-size: 0.7em;

    &__main,
    &__meta {
        background-color: $white-primary;
        border: $border-width-tertiary solid $grey-secondary;
        border-radius: $border-radius-secondary;
        padding: $padding-secondary;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: 100%;
    }
}

.footer {
    background-color: $blue-primary;
    color: $white-primary;
    font-size: 0.7em;
    padding: 0 $padding-primary;
}

.btn {
    font-weight: 600;
    padding: $padding-secondary;
                
    @media only screen and (min-width: 992px) {
        padding: $padding-primary;
    }
}

.btn,
.label {
    background-color: $grey-tertiary;
    color: $black-primary;
    font-size: 0.8em;
    outline: none;
}

.btn,
.input,
.label,
.options {
    border: $border-width-tertiary solid  $grey-primary;
    box-shadow: 1px 1px 1px $grey-secondary;
    border-radius: $border-radius-tertiary;
    padding: $padding-secondary;
    text-shadow: 1px 1px $grey-tertiary;
    width: 100%;
    
    &:hover {
        box-shadow: 2px 2px 2px $grey-secondary;
    }
}

.input {
    text-align: center;
}

.options {
    text-align-last: center;
}

.btn:hover {
    background-color: $grey-secondary;
  }
  
  .btn:active {
    box-shadow: 1px 1px 1px $grey-tertiary;
  }
  
  .btn:disabled {
    color: $red-primary;
    text-shadow: 1px 1px 1px $green-primary;
  }

.sweep {
    font-size: medium;
    height: 50px;
    padding: 5px;
    width: 100%;
}

.connected, .stop-sweep {
    color: #e71717;
}

.error, .overflow {
    color:  #e71717;
}

.bold {
    font-weight: 600;
}

.file-path {
    display: flex;
    align-items: center;
    
    &__text {
        margin: 0 $margin-primary;
        font-size: 0.8em;
        overflow-x: auto;
    }
}

.bold {
    font-weight: 600;
}

.active {
    display: grid;
}

.inactive {
    display: none;
}

.active-row {
    color: $blue-secondary;
    font-weight: 600;
}
