@charset "utf-8";

// colors
$grey-primary: #6b6767;
$grey-secondary: #b9bbbb;
$grey-tertiary: #e6e7e9;
$white-primary: #fdfdfd;
$white-secondary: #dcdfe0;
$white-tertiary: #edf1f5;
$black-primary: #080808;
$red-primary: #d3340c;
$red-secondary: #912307;
$green-primary: #0fa13b;
$blue-primary: #053a6b;
$blue-secondary: #096bc7;

// border
$border-width-primary: 5px;
$border-width-secondary: 3px;
$border-width-tertiary: 1px;
$border-radius-primary: 5px;
$border-radius-secondary: 3px;
$border-radius-tertiary: 1px;

// margin and padding 
$margin-primary: 15px;
$margin-secondary: 10px;
$margin-tertiary: 5px;

$padding-primary: 10px;
$padding-secondary: 5px;
$padding-tertiary: 1px;
