@charset "utf-8";
@import "variables";
@import "reset";
@import "layout";


.main {
    font-size: 2em;
    background-color: $grey-secondary ;
    border: $border-width-secondary groove $grey-tertiary;
    border-radius: 5px;

    @media only screen and (min-width: 1200px) {
        font-size: 2.2em;
    }
    
    &__cell {
        background-color: $white-tertiary;
        border: $border-width-secondary groove $grey-tertiary;
        border-radius: 5px;
        padding: $padding-secondary;
    }
    
    .serial-comm {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-column-gap: $border-width-secondary;
    }
    
    .method-params {
        &__form{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        &__input {
            margin-bottom: $margin-tertiary;
            display: grid;
            grid-template-columns: 5fr 3fr;
            grid-column-gap: $border-width-secondary;
        }
        
        &__btn {
            margin-top: auto;
            
            .btn {
                padding: $padding-secondary;
                width: 100%;
                
                @media only screen and (min-width: 992px) {
                    padding: $padding-primary;
                }
            }
        }
    }
}

.btn {
    font-weight: 600;
}

.btn,
.label {
    background-color: $grey-tertiary;
    color: $black-primary;
    font-size: 0.8em;
    outline: none;
}

.btn,
.input,
.label,
.options {
    border: $border-width-tertiary solid  $grey-primary;
    box-shadow: 1px 1px 1px $grey-secondary;
    border-radius: 3px;
    padding: $padding-secondary;
    text-shadow: 1px 1px $grey-tertiary;
    width: 100%;
    
    &:hover {
        box-shadow: 2px 2px 2px $grey-secondary;
    }
}

.input {
    text-align: center;
}

.options {
    text-align-last: center;
}

.btn:hover {
    background-color: $grey-secondary;
  }
  
  .btn:active {
    box-shadow: 1px 1px 1px $grey-tertiary;
  }
  
  .btn:disabled {
    color: $red-primary;
    text-shadow: 1px 1px 1px $green-primary;
  }


.footer {
    background-color: $blue-primary;
    color: $white-primary;
    font-size: 0.6em;
    padding: 0 $padding-primary;
}


/* style for d3js chart */
.chart-window {
    background-color: $white-primary;

    .chart {
        height: 100%;
        width: 100%;
    }
    
    .axis, .axis-title {
        font-family: sans-serif;
    }
    .axis {
        font-size: 12px;
    }
    .axis-title {
        font-size: 16px;
    }
    .line {
        fill: none;
        stroke: #0b7e1e;
        stroke-width: 2px;
    }
    circle.pointer {
        fill: none;
        stroke: #ec1a2b;
        stroke-width: 2px;
    }
    .grid line {
        stroke: #677272;
        stroke-width: 1px;
        opacity: 0.5;
    }
}

.sweep {
    font-size: medium;
    height: 50px;
    padding: 5px;
    width: 100%;
}

.connected, .stop-sweep {
    color: #e71717;
}

.error, .overflow {
    color:  #e71717;
}

.bold {
    font-weight: 600;
}

