/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, button,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* grid layout */
.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px repeat(4, 1fr) 50px;
  grid-template-areas: "hcn dtl flp flp" "chr chr chr chr" "chr chr chr chr" "mar mar mdt mdt" "tfl tfl tfl tfl" "ftr ftr ftr ftr";
}

@media only screen and (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 55px repeat(4, 1fr) 50px;
    grid-template-areas: "hcn flp flp dtl" "mar chr chr chr" "mar chr chr chr" "mar tfl tfl tfl" "mar mdt mdt mdt" "ftr ftr ftr ftr";
  }
}

@media only screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 3fr 7fr 2fr;
    grid-template-rows: 60px repeat(3, 1fr) 50px;
    grid-template-areas: "hcn flp dtl" "mar chr mdt" "mar chr mdt" "mar tfl mdt" "ftr ftr ftr";
  }
}

.serial-comm {
  grid-area: hcn;
}

.file-path {
  grid-area: flp;
}

.data-load {
  grid-area: dtl;
}

.method-params {
  grid-area: mar;
}

.chart-window {
  grid-area: chr;
}

.meta-data {
  grid-area: mdt;
}

.temporary-files {
  grid-area: tfl;
}

.footer {
  grid-area: ftr;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.copy {
  grid-column: 2/4;
  justify-self: center;
}

@media screen and (min-width: 1200px) {
  .copy {
    grid-column: 3/5;
  }
}

.main {
  font-size: 2em;
  background-color: #a5a8a8;
  border: 3px groove #c8cbce;
  border-radius: 5px;
}

@media only screen and (min-width: 1200px) {
  .main {
    font-size: 2.2em;
  }
}

.main__cell {
  background-color: #dcdfe0;
  border: 3px groove #c8cbce;
  border-radius: 5px;
  padding: 5px;
}

.main .serial-comm {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-column-gap: 3px;
}

.main .method-params__form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main .method-params__input {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-column-gap: 3px;
}

.main .method-params__btn {
  margin-top: auto;
}

.main .method-params__btn .btn {
  padding: 5px;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .main .method-params__btn .btn {
    padding: 10px;
  }
}

.btn {
  font-weight: 600;
}

.btn,
.label {
  background-color: #c8cbce;
  color: #080808;
  font-size: 0.8em;
  outline: none;
}

.btn,
.input,
.label,
.options {
  border: 1px solid #6b6767;
  box-shadow: 1px 1px 1px #a5a8a8;
  border-radius: 3px;
  padding: 5px;
  text-shadow: 1px 1px #c8cbce;
  width: 100%;
}

.btn:hover,
.input:hover,
.label:hover,
.options:hover {
  box-shadow: 2px 2px 2px #a5a8a8;
}

.input {
  text-align: center;
}

.options {
  text-align-last: center;
}

.btn:hover {
  background-color: #a5a8a8;
}

.btn:active {
  box-shadow: 1px 1px 1px #c8cbce;
}

.btn:disabled {
  color: #d3340c;
  text-shadow: 1px 1px 1px #0fa13b;
}

.footer {
  background-color: #053a6b;
  color: #fdfdfd;
  font-size: 0.8em;
  padding: 0 10px;
}

/* style for d3js chart */
.chart-window {
  background-color: #fdfdfd;
}

.chart-window .chart {
  height: 100%;
  width: 100%;
}

.chart-window .axis, .chart-window .axis-title {
  font-family: sans-serif;
}

.chart-window .axis {
  font-size: 12px;
}

.chart-window .axis-title {
  font-size: 16px;
}

.chart-window .line {
  fill: none;
  stroke: #0b7e1e;
  stroke-width: 2px;
}

.chart-window circle.pointer {
  fill: none;
  stroke: #ec1a2b;
  stroke-width: 2px;
}

.chart-window .grid line {
  stroke: #677272;
  stroke-width: 1px;
  opacity: 0.5;
}

.sweep {
  font-size: medium;
  height: 50px;
  padding: 5px;
  width: 100%;
}

.connected, .stop-sweep {
  color: #e71717;
}

.status {
  color: #0fa13b;
  font-weight: 600;
}

.error, .overflow {
  color: #e71717;
}

.bold {
  font-weight: 600;
}
