/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, button,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* grid layout */
.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px repeat(4, 1fr) 50px;
  grid-template-areas: "hcn dtl flp flp" "chr chr chr chr" "chr chr chr chr" "mar mar mdt mdt" "tfl tfl tfl tfl" "ftr ftr ftr ftr";
}

@media only screen and (min-width: 992px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 55px repeat(4, 1fr) 50px;
    grid-template-areas: "hcn flp flp dtl" "mar chr chr chr" "mar chr chr chr" "mar tfl tfl tfl" "mar mdt mdt mdt" "ftr ftr ftr ftr";
  }
}

@media only screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 3fr 7fr 2fr;
    grid-template-rows: 60px repeat(3, 1fr) 50px;
    grid-template-areas: "hcn flp dtl" "mar chr mdt" "mar chr mdt" "mar tfl mdt" "ftr ftr ftr";
  }
}

.serial-comm {
  grid-area: hcn;
}

.file-path {
  grid-area: flp;
}

.data-load {
  grid-area: dtl;
}

.method-params {
  grid-area: mar;
}

.chart-window {
  grid-area: chr;
}

.meta-data {
  grid-area: mdt;
}

.temporary-files {
  grid-area: tfl;
}

.footer {
  grid-area: ftr;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.copy {
  grid-column: 2/4;
  justify-self: end;
}

.main {
  font-size: 2em;
  background-color: #b9bbbb;
  border: 3px groove #e6e7e9;
  border-radius: 5px;
}

@media only screen and (min-width: 1200px) {
  .main {
    font-size: 2.2em;
  }
}

.main__cell {
  background-color: #edf1f5;
  border: 3px groove #e6e7e9;
  border-radius: 5px;
  padding: 5px;
}

.serial-comm {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-column-gap: 3px;
}

.method-params__form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.method-params__input {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-column-gap: 3px;
}

.method-params__btn {
  margin-top: auto;
}

.method-params__btn .btn {
  width: 100%;
}

.data-load {
  display: grid;
}

.btn {
  font-weight: 600;
  padding: 5px;
}

@media only screen and (min-width: 992px) {
  .btn {
    padding: 10px;
  }
}

.btn,
.label {
  background-color: #e6e7e9;
  color: #080808;
  font-size: 0.8em;
  outline: none;
}

.btn,
.input,
.label,
.options {
  border: 1px solid #6b6767;
  box-shadow: 1px 1px 1px #b9bbbb;
  border-radius: 3px;
  padding: 5px;
  text-shadow: 1px 1px #e6e7e9;
  width: 100%;
}

.btn:hover,
.input:hover,
.label:hover,
.options:hover {
  box-shadow: 2px 2px 2px #b9bbbb;
}

.input {
  text-align: center;
}

.options {
  text-align-last: center;
}

.btn:hover {
  background-color: #b9bbbb;
}

.btn:active {
  box-shadow: 1px 1px 1px #e6e7e9;
}

.btn:disabled {
  color: #d3340c;
  text-shadow: 1px 1px 1px #0fa13b;
}

.footer {
  background-color: #053a6b;
  color: #fdfdfd;
  font-size: 0.7em;
  padding: 0 10px;
}

.sweep {
  font-size: medium;
  height: 50px;
  padding: 5px;
  width: 100%;
}

.connected, .stop-sweep {
  color: #e71717;
}

.error, .overflow {
  color: #e71717;
}

.bold {
  font-weight: 600;
}

.file-path {
  display: flex;
  align-items: center;
}

.file-path__text {
  margin: 0 15px;
  font-size: 0.8em;
  overflow-x: hidden;
}

.bold {
  font-weight: 600;
}

.meta-data__content {
  margin: 10px;
  font-size: 0.8em;
}

.temporary-files__table {
  font-size: 0.7em;
  display: grid;
  grid-template-rows: 40px 100%;
  height: 100%;
}

.temporary-files__table .table__head {
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  font-weight: 600;
}

.temporary-files__table .table__head .table__row {
  height: 40px;
}

.temporary-files__table .table__body {
  background-color: #fdfdfd;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc((100vh - 100px) / 8);
}

@media only screen and (min-width: 992px) {
  .temporary-files__table .table__body {
    max-height: calc((100vh - 105px) / 6);
  }
}

@media only screen and (min-width: 1200px) {
  .temporary-files__table .table__body {
    max-height: calc((100vh - 110px) / 4);
  }
}

.temporary-files__table .table__row {
  border-bottom: 3px solid #b9bbbb;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 30px;
}

.temporary-files__table .table__row > div {
  align-self: center;
  text-align: center;
}

/* style for d3js chart */
.chart-window {
  background-color: #fdfdfd;
}

.chart-window .chart {
  height: 100%;
  width: 100%;
}

.chart-window .axis, .chart-window .axis-title {
  font-family: sans-serif;
}

.chart-window .axis {
  font-size: 12px;
}

.chart-window .axis-title {
  font-size: 16px;
}

.chart-window .line {
  fill: none;
  stroke: #0b7e1e;
  stroke-width: 2px;
}

.chart-window circle.pointer {
  fill: none;
  stroke: #ec1a2b;
  stroke-width: 2px;
}

.chart-window .grid line {
  stroke: #677272;
  stroke-width: 1px;
  opacity: 0.5;
}
