/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    box-sizing: border-box;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */
body {
    background-color: #f0ecec;
    position: relative;
}
.main {
    max-height: 80vh;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.footer {
    background-color: #9b9494;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.communication, .view-container {
    border: 1px solid #9b9494;
    padding: 20px;
}
.communication {
    display: flex;
    flex-flow: column;
}
.view-container   {
    text-align: center;
    max-height: fit-content;
    background-color: #fafafa;
}
.chart {
    margin: 0 auto;
}
.view {
    padding-bottom: 5px;
}
.btn, .ports {
    padding: 5px;
    width: 120px;
}
.btn {
    color: white;
}
.start-sweep, .stop-sweep {
    width: 100%;
}
.disconnected, .start-sweep {
    background-color: #088b85;
}
.disconnected:hover, .start-sweep:hover {
    background-color: #075f5b;
}
.connected, .stop-sweep {
    background-color: #eb510a;
}
.connected:hover, .stop-sweep:hover {
    background-color: #e25c1e;
}

.start-sweep:active {
    background-color: #3087b9;
}
.start-sweep:disabled {
    background-color: #5a8178;
    color: #b9310f;
}
.axis {
    font-family: sans-serif;
    font-size: 12px;
}
.line {
    fill: none;
    stroke: #c92734;
    stroke-width: 2px;
}
.grid {
    stroke: #c7c3c3;
    stroke-width: 1px;
    fill: none;
}
.rootXY {
    stroke: rgb(150, 149, 149);
    stroke-width: 2px;
    fill: none;
}