body {
    background-color: #f0ecec;
}


.main {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.serial-connection {
    display: flex;
    justify-content: space-around;
}

.view-container   {
    overflow: hidden;
    text-align: center;
    
}

.chart {
    background-color: #fafafa;
    border: 1px solid #808080;
    margin-top: 50px;
    margin: 50px auto;
}

.btn, .ports {
    padding: 5px;
    width: 150px;
}

.btn {
    color: white;
}

.connect {
    background-color: #088b85;
}

.disconnect {
    background-color: #bb0c0c;
}

.start-sweep {
    background-color: #4690bb;
}

.start-sweep:active {
    background-color: rgb(48, 135, 185);
}

.start-sweep:disabled {
    background-color: rgb(196, 204, 202);
}

.axis {
    font-family: sans-serif;
    fill: #d35400;
    font-size: 12px;
}
.line {
    fill: none;
    stroke: #242320;
    stroke-width: 3px;
}
.grid {
    stroke: #DDD;
    stroke-width: 1px;
    fill: none;
}