body {
    background-color: #f0ecec;
}

.main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.serial-connection {
    display: flex;
    justify-content: space-around;
}

.view   {
    padding-top: 20px;
    text-align: center;
    overflow: hidden;
}

.say-hello {
    background-color: rgb(70, 144, 187);
}

.say-hello:active {
    background-color: rgb(48, 135, 185);
}

.say-hello:disabled {
    background-color: rgb(196, 204, 202);
}